{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Greenery {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}"
</head>
<body>
    <header class="wrapper">
        <h1><a href="{% url 'home' %}">The Greenery</a></h1>
        <nav>
            <a href="{% url 'add-post' %}">Add Post</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>