{% extends 'base.html' %}
{% block title %}The Greenery | {{ post.title }} {% endblock %}

{% block content %}

<div class="post-preview">
    <div class="post-header">
        <div class="post-header-info">
            <h1>{{ post.title }}</h1>
            <h2>By {{ post.author.first_name }} {{ post.author.last_name }}</h2>
            <h3>{{ post.date }}</h3>
        </div>
        {% if user.is_authenticated %}
        <form action="{% url 'like_post' post.pk %}" method='POST'>
            {% csrf_token %}
            <button 
                type="submit" 
                name="post_id" 
                value="{{ post.id }}"
                {% if user in post.likes.all %}
                    class="liked"
                {% else %}
                    class="unliked"
                {% endif %}
            >
                {{ post.total_likes }}
                <i class="fa fa-leaf"></i>
            </button>
        </form>
        {% if user.id == post.author.id %}
        <div class="details-admin-links">
            <a href="{% url 'edit-post' post.pk %}">Edit</a> 
            <a href="{% url 'delete-post' post.pk %}">Delete</a>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <p class="post-body">{{ post.body|safe }}</p>
</div>

{% endblock %}