{% extends 'base.html' %}

{% block content %}
    {% if category_posts %}
    <div class="post-list">
        <h1>{{ cat }}</h1>
        {% for post in category_posts %}
        <div class="post-preview">
            <h1><a href="{% url 'blog-detail' post.pk %}">{{ post.title }}</a></h1>
            <p class="post-byline">By {{ post.author.first_name }} {{ post.author.last_name }}</p>
            <p class="post-snippet">{{ post.snippet }}</p>
            {% if user.is_authenticated %}
                <div class="post-admin-links">
                    <a href="{% url 'edit-post' post.pk %}">Edit</a>
                    <a href="{% url 'delete-post' post.pk %}">Delete</a>
                </div>
            {% endif %}    
            
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h1>Sorry, page not found.</h1>
        <p><a href="{% url 'home'%}">Home</a></p>
    {% endif %}
{% endblock %}