{% extends 'base.html' %}

{% block content %}

    <div class="post-list">
        {% for post in object_list %}
        <div class="post-preview">
            <h1><a href="{% url 'blog-detail' post.pk %}">{{ post.title }}</a></h1>
            <p class="post-byline">By {{ post.author.first_name }} {{ post.author.last_name }}</p>
            <p><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></p>
            <p class="post-snippet">{{ post.snippet|safe }}</p>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <div class="post-admin-links">
                        <a href="{% url 'edit-post' post.pk %}">Edit</a>
                        <a href="{% url 'delete-post' post.pk %}">Delete</a>
                    </div>
                {% endif %}
            {% endif %}    
            
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}