{% extends 'base.html' %}
{% block title %}Greenery | Edit Profile Page{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <h1 class="auth-h1">Edit Profile Page</h1>

        <div class="auth-form">
            {{ user.profile.bio }}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
            <div class="auth-button">
                <button>Update Profile Page</button> 
            </div>
        </div>
    {% else %}
        <h1>Unuauthorized: You cannot edit another user's profile page.</h1>
    {% endif %}
{% else %}
    <h1>Unuauthorized: You must be logged in to do this.</h1>
{% endif %}

{% endblock %}