@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:wght@300;400;700&display=swap');

body{
    background: linear-gradient(to bottom right, #FAF2DA, #e28f83 85%);
    color: #181818;
    margin: 0;
    font-family: 'Cantarell', sans-serif;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: #4a503d;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8e9775;
    padding: 0 12px;
    font-family: 'Oxygen', sans-serif;
    overflow: hidden;
}
header a{
    color: #f9f9f9;
}
header nav{
    display: flex;
    align-items: center;
}
header nav a{
    padding: 6px;
}
header nav a:hover{
    color: #4a503d;
}
.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #f9f9f9;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn {
    background-color: #e28f83;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #181818;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #FAF2DA;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* home.html styling */
.post-list{
    margin: 10px;
    padding-bottom: 12px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 4fr 4fr;
    row-gap: 40px;
}
.post-preview{
    list-style-type: none;
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}
.post-preview h1, .post-preview h2, .post-preview h3{
    margin: 0;
}
.post-preview .post-byline{
    margin-top: 0;
}
.post-preview .post-admin-links{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.post-preview .post-admin-links a{
    padding: 2px;
}
.post-preview .post-admin-links a:hover{
    text-decoration: underline;
}
.pagination{
    text-align: center;
    padding: 6px;
}
/* blog_details.html styling */
.post-preview .post-body{
    padding: 10px;
    text-align: justify;
}
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #4a503d;
}
.post-header-info h1{
    color: #4a503d;
}
.details-admin-links a{
    padding: 2px;
}
.details-admin-links a:hover{
    text-decoration: underline;
}
.like-form{
    text-align: center;
}
.like-form button{
    border: none;
    background-color: #8e9775;
    color: #f9f9f9;
    font-size: 18px;
    padding: 8px;
}
.like-form .liked{
    color: #181818;
}

/* forms styling */
.post-form-div{
    margin: 20px auto;
    max-width: 800px;
    background-color: #f9f9f9;
    padding: 12px;
}
.post-form-div h1{
    color: #4a503d;
    text-align: center;
}
.post-form{
    width: 100%;
}
.post-form input, .post-form textarea, .post-form select{
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #8e9775;
    font-size: 16px;
}
.post-form .form-button-div{
    text-align: center;
}
.post-form .form-button{
    background-color: #8e9775;
    color: #f9f9f9;
    padding: 6px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-family: 'Cantarell', sans-serif;
}

/* mobile styling */
@media only screen and (max-width: 1000px) {
    .post-list{
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 750px) {
    .post-list{
        grid-template-columns: auto;
    }
}